{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}果汁大云播--优酷、爱奇艺、腾讯VIP视频免费观看{% endblock %}
{% block page_content %}
<div class="page-header" p style="text-align: center;">
    <h4 >本站支持腾讯、优酷、爱奇艺vip视频解析,保证可用性！请持续关注....</h4>
</div>

<!--<div class="panel panel-default" p style="text-align: center;">-->
          <!--<div id="kj" class="panel-body">-->
			<!--<iframe width="60%" height="600px" id="player" allowtransparency="true" frameborder="0" scrolling="no" src="http://api.baiyug.cn/vip/index.php?url={% if name %}{{ name }}{% else %}Stranger{% endif %}!"></iframe>-->
          <!--</div>-->
<!--</div>-->





 <div class="col-md-14 column" p style="text-align: center;">
        <div class="panel panel-default">
          <div id="kj" class="panel-body">
                        <iframe width="60%" height="600px" id="player" allowTransparency="true" frameborder="0" scrolling="no" src="http://000o.cc/jx/ty.php?url={% if name %}{{ name }}{% else%}http://www.iqiyi.com/v_19rreigdnc.html?src=focustext_1_20130410_1#curid=841155700_962603068107d9c3eb684a5c979b1497{% endif %}!">></iframe>
          </div>
        </div>
 </div>







{{ wtf.quick_form(form) }}
{% endblock %}
